@model AlısVerisSepeti.Mvc.Models.Musteri

@{
    ViewBag.Title = "MusteriGuncelle";
}

<h2>MusteriGuncelle</h2>

@using (Html.BeginForm("MusteriGuncelle", "Musteri", FormMethod.Post))
{@Html.HiddenFor(m => m.MusteriId)
<div class="form-group">
    @Html.LabelFor(m => m.MusteriAd);
    @Html.TextBoxFor(m => m.MusteriAd, new { @class = "form-control" })

    <label id="lblAdHata" style="display:none;color:red">Ad alanı boş olamaz</label>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.MusteriSoyad);
    @Html.TextBoxFor(m => m.MusteriSoyad, new { @class = "form-control" })
   
    <label id="lblSoyadHata" style="display:none;color:red">Soyad alanı boş olamaz</label>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Sehir);
    @Html.TextBoxFor(m => m.Sehir, new { @class = "form-control" })
   
    <label id="lblSehirHata" style="display:none;color:red">Şehir alanı boş olamaz</label>
</div>
<input type="submit" name="button" value="Guncelle" class="btn btn-danger" onclick="return BoslukKontrol()" />
}
@section scripts{
    <script>
        function BoslukKontrol() {
            var hatayok = true;
            if ($("#Sehir").val() == "" || $("#MusteriSoyad").val() == "" || $("#MusteriAd").val() == "")
            {
                $("#lblSoyadHata").show();
                $("#lblSehirHata").show();
                $("#lblAdHata").show();
                hatayok = false;
            }

            return hatayok;
        }

    </script>

}

