@model AlısVerisSepeti.Mvc.Models.Musteri

@{
    ViewBag.Title = "MusteriEkle";
}

<h2>Musteri Ekle</h2>

@using (Html.BeginForm("MusteriEkle", "Musteri", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.MusteriAd);
        @Html.TextBoxFor(m => m.MusteriAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusteriAd)
        <label id="lblAdHata" style="display:none;color:red">Ad alanı boş olamaz</label>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MusteriSoyad);
        @Html.TextBoxFor(m => m.MusteriSoyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusteriSoyad)
        <label id="lblSoyadHata" style="display:none;color:red">Soyad alanı boş olamaz</label>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sehir);
        @Html.TextBoxFor(m => m.Sehir, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Sehir)
        <label id="lblSehirHata" style="display:none;color:red">Şehir alanı boş olamaz</label>
    </div>
    <input type="submit" name="button" value="Kaydet" class="btn btn-danger" onclick="return BoslukKontrol()"/>
}

@section scripts{
    <script>
        function BoslukKontrol() {
            var hatayok = true;
            if ($("#Sehir").val() == "" || $("#MusteriSoyad").val() == "" || $("#MusteriAd").val() == "")
            {
                $("#lblSoyadHata").show();
                $("#lblSehirHata").show();
                $("#lblAdHata").show();
                hatayok = false;
            }

            return hatayok;
        }

    </script>

}

