

@model AlısVerisSepeti.Mvc.Models.Kullanici

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Guvenlik", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(o => o.kullaniciAd);
    @Html.TextBoxFor(o => o.kullaniciAd, new { @class = "form-control" })
    @Html.ValidationMessageFor(o => o.kullaniciAd)
    <label id="lblAdHata" style="display:none;color:red">Ad alanı boş olamaz</label>
</div>
    <div class="form-group">
        @Html.LabelFor(o => o.sifre);
        @Html.TextBoxFor(o => o.sifre, new {@type="password",@class = "form-control" })
        @Html.ValidationMessageFor(o => o.sifre)
        <label id="lblHata" style="display:none;color:red">Şifre alanı boş olamaz</label>
    </div>
    <input type="submit" name="button" value="Giriş Yap" class="btn btn-danger" onclick="return BoslukKontrol()" />
    @Html.ActionLink("Kayıt ol", "Uyelik", "Kullanicii")
}
@section scripts{
    <script>
       function BoslukKontrol() {
           var hatayok = true;
           if ($("#kullaniciAd").val() == ""||$("#sifre").val() == "") {
               $("#lblAdHata").show();
               $("#lblHata").show();
               hatayok = false;
           }

           return hatayok;
       }

    </script>

}
